a {
  cursor: pointer;
  text-decoration: none;
  color: #757575;
  font-family: google-sans, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  white-space: nowrap;
  color: black;
}

.mat-sidenav-container {
  height: calc(100% - 64px); /* where 64px is the height of your top navbar */
}

.mat-sidenav-content {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}
