<section class="speakers">
    <div class="container">
      <h2>Speakers</h2>
      <p class="description">Interested in Android, Flutter, Web, Cloud, ML technologies?<br>Join the vibrant and diverse set of speakers where you can learn, network, share knowledge and enjoy the experience.</p>
      <div class="speaker-list">
        <div class="speaker" *ngFor="let speaker of speakers" (click)="openSpeakerDialog(speaker)">
          <img src="../../assets/speakers/{{speaker.image}}" alt="Speaker 1">
          <h3>{{speaker.name}}</h3>
          <p class="company">{{speaker.company}}</p>
        </div>
      </div>
    </div>
  </section>
  