<div class="banner">
    <img src="../../assets/B-IOE23-WebBanner-2560x500.png" alt="Banner Image">
  </div>
  <marquee [ngStyle]="{'background-color': backgroundColor}"
   direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" behavior="loop">
   <div class="marquee-scroll">
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O&nbsp;&nbsp;&nbsp;   
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
    Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp;  Google   &nbsp;&nbsp;&nbsp;      I/O &nbsp;&nbsp;&nbsp; 
  </div>
  
  
  </marquee>
  
  <div class="content">
    <div class="image-box">
      <div class="content-box">
        <h2>Heading</h2>
        <p>Some text goes here...</p>
      </div>
      <div class="image-container">
        <img src="../../assets/gifs/IOE23_WatchParty.gif" alt="Image">
      </div>
    </div>
  </div>

  <section class="io-intro">
  <div class="io-container">
    <div class="io-image-container">
      <img src="../../assets/IMG20220605172817.jpg" alt="image description">
    </div>
    <div class="io-content">
        <h2>What is Google I/O Extended Chandigarh ? </h2>
        <p>Google I/O Extended Chandigarh, a full day event, where you find updates of Google's Products. 
           The magic of I/O doesn’t end after the main event. Local developers come together for I/O Extended 
           events to discuss the latest new technologies, summarize content, hosting Q&As, and meet other technology enthusiasts. 
           This will be a physical event, promising to each of our attendee an experience, unlike anything they've ever seen.</p>
    </div>
  </div>
  
  </section>

<section id="speakers">
<app-speakers></app-speakers>
</section>